<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisGeneratorConfiguration">
    <option name="credentials">
      <map>
        <entry key="jdbc:mysql://localhost:3306/bosssoft">
          <value>
            <Credential>
              <option name="username" value="root" />
            </Credential>
          </value>
        </entry>
      </map>
    </option>
    <option name="tableConfigs">
      <map>
        <entry key="t_dictionary">
          <value>
            <TableConfig>
              <option name="basePackage" value="" />
              <option name="comment" value="true" />
              <option name="domainName" value="TDictionary" />
              <option name="domainPackage" value="com.bosssoft.bes.user.permission.entity" />
              <option name="exampleName" value="TDictionaryExample" />
              <option name="examplePackage" value="com.bosssoft.bes.user.permission.entity" />
              <option name="examplePostfix" value="Example" />
              <option name="mapperName" value="TDictionaryMapper" />
              <option name="mapperPackage" value="com.bosssoft.bes.user.permission.entity" />
              <option name="mapperPostfix" value="Mapper" />
              <option name="moduleRootPath" value="$PROJECT_DIR$" />
              <option name="name" value="t_dictionary" />
              <option name="primaryKey" value="category_id" />
              <option name="resourcePath" value="src/main/resources" />
              <option name="sourcePath" value="src/main/java" />
              <option name="tableName" value="t_dictionary" />
              <option name="useExample" value="true" />
              <option name="xmlPackage" value="mapper" />
            </TableConfig>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>